language: python
python:
  - "2.7"
before_script:
  - curl https://raw.githubusercontent.com/jrha/krb5-travis/master/install_krb5 | sudo bash
  - curl https://raw.githubusercontent.com/jrha/krb5-travis/master/install_knc | bash
  - wget https://github.com/google/protobuf/releases/download/v3.5.1/protoc-3.5.1-linux-x86_64.zip -O /tmp/protoc.zip && cd /tmp && unzip /tmp/protoc.zip && sudo cp bin/protoc /usr/bin/ && sudo chmod ugo+x /usr/bin/protoc
  - cd /tmp && git clone https://github.com/quattor/aquilon-protocols.git && cd aquilon-protocols && git checkout upstream && ./setup.py build && sudo ./setup.py install --install-lib /usr/local/lib/aquilon/protocols/lib/python
  - cd /tmp && wget https://github.com/quattor/pan/releases/download/pan-10.7/panc-10.7-jar-with-dependencies.jar
  - cd $TRAVIS_BUILD_DIR/tools/bootstrap_ms && python setup.py sdist && pip install dist/*.tar.gz
  - cd $TRAVIS_BUILD_DIR && cp -R tests/fakemodules/ms/dsdb /home/travis/virtualenv/python$TRAVIS_PYTHON_VERSION/lib/python$TRAVIS_PYTHON_VERSION/site-packages/ms/; echo $?
  - ls /home/travis/virtualenv/python$TRAVIS_PYTHON_VERSION/lib/python$TRAVIS_PYTHON_VERSION/site-packages/ms/
  - cd /tmp && wget https://search.maven.org/remotecontent?filepath=ant-contrib/ant-contrib/1.0b3/ant-contrib-1.0b3.jar -O ant-contrib.jar
script:
  - cd $TRAVIS_BUILD_DIR && tests/runtests.py -c tests/unittest.conf.travis --assume_yes
after_script:
  - cat /tmp/fake_dsdb.log
  - cat /var/tmp/travis/aqtest/quattor/logs/aqd.log
  - ls /var/tmp/travis/aqtest/scratch
  - ls /var/tmp/travis/aqtest/scratch/dsdb_coverage
  - tail -n 128 /var/tmp/travis/aqtest/scratch/dsdb_coverage/expected_dsdb_cmds
  - tail -n 128 /var/tmp/travis/aqtest/scratch/dsdb_coverage/issued_dsdb_cmds
  - tail -n 128 /var/tmp/travis/aqtest/scratch/dsdb_coverage/failed_dsdb_cmds
addons:
  hosts:
    - travis.dev
  packages:
    - libkrb5-dev
