# This is an example production configuration.
# For additional options, see the defaults and comments in aqd.conf.defaults.
# For an example (and working) development default, see aqd.conf.dev.

[DEFAULT]
basedir = /var
quattordir = %(basedir)s/quattor
logdir = %(quattordir)s/logs
dbdir = %(quattordir)s/aquilondb
dblogfile = %(logdir)s/aqdb.log

[database_oracle]
dbuser = cdb
environment = prod
server = NYPO_AQUILON

[database]
database_section = database_oracle

[broker]
umask = 0022
server_notifications = cdb2sql bootserver
client_notifications = yes
templatesdir = /v/campus/ny/appl/aquilon/aqd/data/templates
