# This is an example production configuration.
# For additional options, see the defaults and comments in aqd.conf.defaults.
# For an example (and working) development default, see aqd.conf.dev.
[DEFAULT]
basedir = /var/quattor
quattordir = %(basedir)s
logdir = %(quattordir)s/logs
dbdir = %(basedir)s/aquilondb
dblogfile = %(logdir)s/aqdb.log
[database_oracle]
dbuser = cdb
environment = prod
server = LNPO_AQUILON_NY
# For now, also need dsn with password
[database]
database_section = database_oracle
[broker]
git_templates_url = http://%(servername)s/templates
umask = 0022
